* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'SpoqaHanSansNeo-Regular';
}

html {
  font-size: 62.5%; /* font-size: 10px */
}

/* @media screen and (max-width: 767px) {
  body {
    display: flex;
    justify-content: center;
  }
} */

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
