* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /* font-size: 10px */
}

@font-face {
  font-family: 'spoqaHanSansBold';
  src: url('https://dvs20mlvw89o1.cloudfront.net/SpoqaHanSans_subset+2/SpoqaHanSans_subset/Spoqa+Han+Sans+Bold.woff2')
    format('woff2');
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
  font-weight: 400;
  font-family: 'spoqaHanSansBold';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
